/* make navbar stick to the top*/
.header {
  display: flex;
  /* make inner item evenly separate  */
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  width: 100%;
  background-color: white;
  z-index: 999;

  /* make navbar stick to the top when navbar pass 0*/
  position: sticky;
  top: 0;
}

.header__left {
  display: flex;
}

.header__left > img {
  object-fit: contain;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.header__search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 42px;
  color: gray;
  background-color: #eef3f8;
}

.header__search > input {
  /* remove blue box of input field  */
  outline: none;
  border: none;
  background: none;
}

.header__right {
  display: flex;
}
