.inputOptions {
  display: flex;
  align-items: center;
  margin-top: 10px;
  /* border: 1px solid red; */
  padding: 5px;
}

.inputOptions:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}

.inputOptions > h4 {
  color: gray;
  font-size: 14px;
  font-weight: 600;
  margin-left: 5px;
  padding-top: 10px;
}
