.newsArticle {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.newsArticle:hover {
  background-color: whitesmoke;
}

.widgets__articleLeft {
  color: gray;
  margin-right: 5px;
}

.widgets__articleLeft > .MuiSvgIcon-root {
  font-size: 10px;
}

.widgets__articleRight {
  flex: 1;
  margin-bottom: -5px;
}

.widgets__articleRight > h4 {
  font-size: 14px;
}

.widgets__articleRight > p {
  font-size: 12px;
  color: gray;
}
