.widgets {
  flex: 0.2;
  position: sticky;
  top: 80px;
  background-color: white;
  border-radius: 10px;
  border: 0.1px solid lightgray;
  height: fit-content;
  padding-bottom: 10px;
  transition-timing-function: ease-out;
  transition: all 0.5s;
}

.widget__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.widget__header > h2 {
  font-size: 16px;
  font-weight: 600;
}

.widget__infoIcon {
  height: 20px !important;
  width: 20px !important;
}

.widget__body {
  transition-timing-function: ease-out;
  transition: all 0.5s;
}

.widget__body > p > span {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 600;
  padding: 5px;
  color: rgb(171, 171, 171);
  border-radius: 10px;
}
.widget__body > p > span:hover {
  background-color: whitesmoke;
}

.widget__article {
  margin-bottom: 10px;
  color: #000;
}
